$orange: #ff6838;
$silver-bg: #f9faff;
$silver: #ececec;
$gray: #c2c2c2;
$darkBlue: #363853;
$dark: #31352b;
$white: #fff;

%rubik-300 {
	font-family: "Rubik-Light", sans-serif;
	font-weight: 300;
}
%rubik-400 {
	font-family: "Rubik-Regular", sans-serif;
	font-weight: 400;
}
%rubik-600 {
	font-family: "Rubik-Medium", sans-serif;
	font-weight: 600;
}
%rubik-700 {
	font-family: "Rubik-Bold", sans-serif;
	font-weight: 700;
}
%btn {
	@extend %rubik-400;
	border: 2px solid transparent;
	cursor: pointer;
	color: $white;
	background-color: $orange;
	border-radius: 6px;
}

@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}
@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}
